*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  /* color: #424244; */
}
p{
  font-size:11px;
}

/* .nav-links ul {
  padding: 2px;
  list-style-type: none;
  list-style: none ;
} */

.nav-links li {
  /* display: flex; */
  flex-direction: col;
  margin-top: 6px;
  font-size:11px;
}
.nav-links li:hover{
  /* margin-top: 6px; */
  cursor: pointer;
  border-bottom: 1px solid black;
} 

 .footer-links li {
  flex-direction: col;
  /* margin-top: 6px; */
  font-size:11px;
}

.footer-para {
  margin-top: 0.6rem;
}
.footer-conatct-link  a:hover{
      border-bottom: 1px solid black;
}

/* Apply custom scrollbar to all scrollable elements */
::-webkit-scrollbar {
  width: 10px; /* Set width of the scrollbar */


}

::-webkit-scrollbar-thumb {
  background-color: #195618; /* Set color of the scrollbar thumb */
  border-radius: 12px; /* Set border radius for a rounded look */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Change thumb color on hover */
  border-radius: 12px; /* Set border radius for a rounded look */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Set color of the scrollbar track */
  margin-left: 1px;
}


@media (min-width: 768px)  {
  .mobile-product-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust the width as needed */
    gap: 20px;

}
}

